body{
    margin: 0;
    padding: 0;
    background: url(bg.jpg)
    no-repeat repeat center fixed;
    background-size: cover;
}
.contain{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    text-align: center;
    box-sizing: border-box;
    padding: 2rem;
    background-color: rgba(0, 0, 0, .8);
    box-shadow:0 16px 26px rgba(0, 0,0, .5);
    border-radius: 10px;
}
.contain h2{
    color: white;
    font-family: cursive;
    font-size: 2rem;
    font-weight: 100;
}
.contain input{
    width: 70%;
    padding: 0.8rem;
    border-radius: 20px;
    border: none;
    
}
.contain button{
    background-color: blue;
    border: none;
    padding: 10px;
    border-radius: 20px;
    color: white;
    font-family: sans-serif;
}